<ion-content color="light" [fullscreen]="true">

    <div id="container" style="height: 100%; display: flex; justify-content: center; align-items: center">
      <ion-card>
        <ion-card-header class="ion-margin-start ion-margin-end">
          <ion-card-title>
            <ion-text>
              <h1>Sign-in</h1>
            </ion-text>
          </ion-card-title>
          <ion-card-subtitle >Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item class="ion-margin-start ion-margin-end">
            <ion-label position="floating">UserName</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-top ion-margin-start ion-margin-end">
            <ion-label position="floating">Password</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>

          <ion-button shape="round"
                      expand="block"
                      size="large"
                      class="ion-margin-top ion-margin-start ion-margin-end">
            <ion-text>
              <h2>Login</h2>
            </ion-text>
            <ion-icon name="log-in-outline"></ion-icon>
          </ion-button>

          <ion-button class="ion-margin-top" expand="block" fill="clear">
            <ion-text class="ion-text-center">
              <p>Mot de passe oublier ?</p>
            </ion-text>
          </ion-button>

          <ion-button shape="round" expand="block" size="large" class="ion-margin-top ion-margin-start ion-margin-end">
            <ion-icon name="logo-google" class="ion-margin-end"></ion-icon>
            <ion-text>
              <h2>Google</h2>
            </ion-text>
          </ion-button>

          <ion-button shape="round" expand="block" size="large" class="ion-margin-top ion-margin-start ion-margin-end">
            <ion-icon name="logo-facebook" class="ion-margin-end"></ion-icon>
            <ion-text>
              <h2>Facebook</h2>
            </ion-text>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
